<div class="container-fluid p-0" id="outer-wrapper">
  <div id="topnav">
    <div class="tm-head row">
      <div class="tm-menu">
        <div class="menu1 section" id="menu1" name="Top Navigation">
          <div class="widget LinkList" id="LinkList210">
            <div class="widget-content">
              <ul id="nav1">
                <li><a href="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                 <li><a href="/sitemap.xml" target="_blank">Sitemap</a></li>

    
              </ul><select class="selectnav" id="selectnav2">
                <option value="">Menu</option>
                <option value="#">Home</option>
                <!-- <option value="#">Sitemap</option> -->

                 <option value="#">About</option>
                <option value="#">Contact</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="social-area">
        <div class="social-top section" id="social-top" name="Social Top">
          <div class="widget LinkList" id="LinkList50">
            <div class="widget-content">
              <ul>
                <li><a class="facebook" rel="noopener noreferrer" href="https://www.facebook.com/TutsCoder" target="_blank" title="facebook"></a></li>
                <li><a class="twitter" rel="noopener noreferrer" href="https://twitter.com/tutscoder"  target="_blank" title="twitter"></a></li>
                <li><a class="pinterest" rel="noopener noreferrer" href="https://in.pinterest.com/tutscoder"  target="_blank" title="pinterest"></a></li>
                <li><a class="youtube" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCmObcNnWeVBlSeO_iQhsRcA" target="_blank" title="youtube"></a></li>
            
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-4">
        <div class="header-logo">

          <a href="https://www.tutsocder.com">
            <img class="td-retina-data img-responsive" src="./assets\images\tutscoder_logo.png" alt="tutscoder-logo">
          </a>
        </div>
      </div>
      <div class="col-xs-8 col-md-8 col-sm-8 hidden-xs">
        <div class="header-banner">
         <!--  <ng-adsense [adClient]="'ca-pub-5104133742493207'" [display]="'inline-block'" [adSlot]="9563129712" [adFormat]="'auto'"
            [fullWidthResponsive]="true" [width]="120" [height]="120"></ng-adsense> -->
        <!--   <ng-adsense [adClient]="'ca-pub-5104133742493207'" [display]="'inline-block'" [adSlot]="5204741671"
            [width]="300" [height]="600"></ng-adsense>
 -->

        </div>
      </div>
    </div>
  <!-- </div> -->
  
  <nav id='menu'>
    <input type='checkbox' id='responsive-menu' (click)='updatemenu()'><label></label>

    <ul>
      <li><a routerLink='/'>Home</a></li>
      <li><a class='dropdown-arrow' href='javascript:;'>Tutorials</a>
        <ul class='sub-menus'>
          <li *ngFor="let cat of categories"><a  routerLink='/category/{{cat.slug}}'>{{cat.name}}</a></li>
        </ul>
      </li>
      <!-- <li *ngFor="let cat of categories"><a routerLink='/category/{{cat.slug}}'>{{cat.name}}</a></li> -->
      <li><a class='dropdown-arrow' href='javascript:;'>Snippet</a>
        <ul class='sub-menus'>
          <li><a routerLink="/snippet/category/angular">Angular</a></li>
          <li><a routerLink="/snippet/category/node">NodeJs</a></li>
          <li><a routerLink="/snippet/category/javascript">Javascript</a></li>
        </ul>
      </li>
      <li><a class='dropdown-arrow' href='javascript:;'>Interview Questions</a>
        <ul class='sub-menus'>
          <li><a routerLink="/interview-questions/angular-interview-questions">Angular</a></li>
          <!-- <li><a routerLink="/snippet/category/node">NodeJs</a></li> -->
          <!-- <li><a routerLink="/snippet/category/javascript">Javascript</a></li> -->
        </ul>
      </li>
      <li><a class='dropdown-arrow' href='javascript:;'>Resources</a>
        <ul class='sub-menus'>
          <li><a routerLink="/resources/tools">Toolbox</a></li>
          <li><a routerLink="/resources/books">Books</a></li>
          <li><a routerLink="/resources/courses">Courses</a></li>
        </ul>
      </li>
      <li><a routerLink='/deals'>Deals</a></li>

    </ul>
  </nav>


</div>
