<div id="outer-wrapper">
  <div id="topnav">
    <div class="tm-head row">
      <div class="tm-menu">
        <div class="menu1 section" id="menu1" name="Top Navigation">
          <div class="widget LinkList" id="LinkList210">
            <div class="widget-content">
              <ul id="nav1">
                <li><a href="/">Home</a></li>
                <!-- <li><a href="#">Sitemap</a></li> -->
        
                <!-- <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li> -->
              </ul><select class="selectnav" id="selectnav2">
                <option value="">Menu</option>
                <option value="#">Home</option>
                <!-- <option value="#">Sitemap</option> -->
               
                <!-- <option value="#">About</option>
                <option value="#">Contact</option> -->
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="social-area">
        <div class="social-top section" id="social-top" name="Social Top">
          <div class="widget LinkList" id="LinkList50">
            <div class="widget-content">
              <ul>
                <li><a class="facebook" href="#" title="facebook"></a></li>
                <li><a class="twitter" href="#" title="twitter"></a></li>
                <li><a class="gplus" href="#" title="gplus"></a></li>
                <li><a class="youtube" href="#" title="youtube"></a></li>
                <li><a class="codepen" href="#" title="codepen"></a></li>
                <li><a class="dribbble" href="#" title="dribbble"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="header-blog">
    <div class="header-content row">
      <div class="header-logo">
        <div class="section" id="logo_blog" name="Logo">
          <div class="widget Header" id="Header1">
            <div id="header-inner">
              <a href="#" style="display: block">
                <h1 style="display:none;"></h1>
                <img alt="" height="52px; " src="#" style="display: block" width="208px; ">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-ads">
        <div class="section" id="ads-content" name="Ads 728x90">
          <div class="widget HTML" id="HTML5">
            <div class="widget-content">
              <img alt="ads" src="#">
            </div>
            <div class="clear"></div>
            <span class="widget-item-control">
              <span class="item-control blog-admin">
                <a class="quickedit" href="#" target="configHTML5" title="Edit">
                  <img alt="" height="18" src="//img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                </a>
              </span>
            </span>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <nav id='menu'>
    <input type='checkbox' id='responsive-menu' (click)='updatemenu()'><label></label>

    <ul>
      <li><a routerLink='/'>Home</a></li>
      <li *ngFor="let cat of categories"><a routerLink='/category/{{cat.name}}'>{{cat.name}}</a></li>
  <!--     <li><a class='dropdown-arrow' href='http://'>Services</a>
        <ul class='sub-menus'>
          <li><a href='http://'>Services Sub Menu 1</a></li>
          <li><a href='http://'>Services Sub Menu 2</a></li>
          <li><a href='http://'>Services Sub Menu 3</a></li>
        </ul>
      </li> -->
      
    </ul>
  </nav>


</div>
