<div id="outer-wrapper">
  <div id="topnav">
    <div class="tm-head row">
      <div class="tm-menu">
        <div class="menu1 section" id="menu1" name="Top Navigation">
          <div class="widget LinkList" id="LinkList210">
            <div class="widget-content">
              <ul id="nav1">
                <li><a href="/">Home</a></li>
                <!-- <li><a href="#">Sitemap</a></li> -->

                <!-- <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li> -->
              </ul><select class="selectnav" id="selectnav2">
                <option value="">Menu</option>
                <option value="#">Home</option>
                <!-- <option value="#">Sitemap</option> -->

                <!-- <option value="#">About</option>
                <option value="#">Contact</option> -->
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="social-area">
        <div class="social-top section" id="social-top" name="Social Top">
          <div class="widget LinkList" id="LinkList50">
            <div class="widget-content">
              <ul>
                <li><a class="facebook" href="#" title="facebook"></a></li>
                <li><a class="twitter" href="#" title="twitter"></a></li>
                <li><a class="gplus" href="#" title="gplus"></a></li>
                <li><a class="youtube" href="#" title="youtube"></a></li>
                <li><a class="codepen" href="#" title="codepen"></a></li>
                <li><a class="dribbble" href="#" title="dribbble"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-4">
        <div class="header-logo">

          <a href="https://www.tutsocder.com">
            <img class="td-retina-data img-responsive" src="./assets\images\tutscoder_logo.png" alt="tutscoder-logo">
          </a>
        </div>
      </div>
      <div class="col-xs-8 col-md-8 col-sm-8 hidden-xs">
        <div class="header-banner">
          <ng-adsense [adClient]="'ca-pub-5104133742493207'" [adSlot]="9563129712" [adFormat]="'auto'"
            [fullWidthResponsive]="true"></ng-adsense>

        </div>
      </div>
    </div>
  <!-- </div> -->
  
  <nav id='menu'>
    <input type='checkbox' id='responsive-menu' (click)='updatemenu()'><label></label>

    <ul>
      <li><a routerLink='/'>Home</a></li>
      <li *ngFor="let cat of categories"><a routerLink='/category/{{cat.slug}}'>{{cat.name}}</a></li>
      <li><a class='dropdown-arrow' href='javascript:;'>Snippet</a>
        <ul class='sub-menus'>
          <li><a routerLink="/snippet/category/angular">Angular</a></li>
          <li><a routerLink="/snippet/category/node">NodeJs</a></li>
          <li><a routerLink="/snippet/category/javascript">Javascript</a></li>
        </ul>
      </li>

    </ul>
  </nav>


</div>
