<footer id="footer">
  <div class="container">
    <div class="row footer-widgets">
      <!-- footer widget about-->
      <div class="col-sm-4 col-xs-12">
        <div class="footer-widget f-widget-about">
          <div class="col-sm-12">
            <div class="row">
              <h4 class="title">About</h4>
              <div class="title-line"></div>
              <p>
                Learn Web Development, AngularJs,NodeJs,ReactJs, JavaScript, jQuery, Ajax, ,WordPress, etc. with TutsCoder Programming and Web Development Tutorials. </p>
            </div>
          </div>
        </div>
      </div><!-- /.col-sm-4 -->

      <!-- footer widget random posts-->
      <div class="col-sm-4 col-xs-12">
        <!--Include footer random posts partial-->

        <!--Partial: Footer Random Posts-->
        <div class="footer-widget f-widget-random">
          <div class="col-sm-12">
            <div class="row">
              <h4 class="title">Random Posts</h4>
              <div class="title-line"></div>

            </div>
          </div>
        </div>
      </div><!-- /.col-sm-4 -->

      <!-- footer widget follow us-->
      <div class="col-sm-4 col-xs-12">
        <div class="col-sm-12">
          <div class="row">
            <div class="footer-widget f-widget-follow">
              <div class="col-sm-12">
                <div class="row">
                  <h4 class="title">Social Media</h4>
                  <div class="title-line"></div>
                  <ul>

                    <li>
                      <a class="facebook" href="#" target="_blank"><i
                          class="icon-facebook"></i></a>
                    </li>
                    <li>
                      <a class="twitter" href="#" target="_blank"><i class="icon-twitter"></i></a>
                    </li>
                    <li>
                      <a class="pinterest" href="#" target="_blank"><i
                          class="icon-pinterest"></i></a>
                    </li>
                    <li>
                      <a class="instgram" href="#" target="_blank"><i
                          class="icon-instagram"></i></a>
                    </li>
                    <li>
                      <a class="linkedin" href="#" target="_blank"><i
                          class="icon-linkedin"></i></a>
                    </li>
                    <li>
                      <a class="vk" href="#" target="_blank"><i class="icon-vk"></i></a>
                    </li>
                    <li>
                      <a class="youtube" href="#" target="_blank"><i
                          class="icon-youtube"></i></a>
                    </li>
                    <li>
                      <a class="telegram" href="#" target="_blank"><i
                          class="icon-telegram"></i></a>
                    </li>
                    <li>
                      <a class="rss" href="#"><i class="icon-rss"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- newsletter -->
        <div class="col-sm-12">
          <div class="row">
            <p>Subscribe here to get interesting stuff and updates!</p>
            <form action="#" method="post"
              accept-charset="utf-8">
              
              <div class="newsletter">
                <div class="left">
                  <input type="email" name="email" id="newsletter_email" maxlength="199" placeholder="Email"
                    required="">
                </div>
                <div class="right">
                  <button type="submit" class="newsletter-button">Subscribe</button>
                </div>
              </div>
              <input type="hidden" name="sys_lang_id" value="1">
            </form>
          </div>
          <div class="row">
            <p id="newsletter">
            </p>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="languages-dropdown">
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                  <i class="icon-language"></i>English&nbsp;<span class="icon-arrow-down"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" class="selected">English</a></li>
                  <li><a href="#" class="">Hebrew</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .col-md-3 -->
    </div>
    <!-- .row -->

    <!-- Copyright -->
    <div class="footer-bottom">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-bottom-left">
            <p>Copyright @ 2020 TutsCoder - All Rights Reserved.</p>
          </div>
          <div class="footer-bottom-right">
            <ul class="nav-footer">
              <!-- <li>
                <a href="#">Terms &amp; Conditions </a>
              </li> -->
              <li>
                <a routerLink="/privacy">Privacy </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <!-- .row -->
    </div>
  </div>
</footer>
