/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
$dialog-position-top: 20%;

@import "~ngx-smart-modal/ngx-smart-modal";
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";
@import 'bwm-colors';
@import 'form';
@import 'date-picker';
@import 'editable';

html,
body {
  height: 100%;

}

html,
body,
p {
  color: $dark-gray-color;

}


.popup{
  margin:0 auto;
  width: 50vw;
  height:400px;
  position:relative;
  max-width: 50vw;
  

  h1{
    font:50px Lato;
    font-weight:900;
    text-transform:uppercase;
    color:#f36;
  }
  
  h2{
    font:50px Lato;
    font-weight:900;
    text-transform:uppercase;
    color:#555;
    margin-bottom:20px;
  }
  
  p{
    font:16px source sans pro;
    color:#747c83;
    clear:both;
  }
  
  input{
    width:50%;
    margin:20px 0px 20px 0px;
    padding:13px;
    border-radius:4px;
    border:1px solid #d4d7da;
    font:16px source sans pro;
    outline:none;
    color:#747c83;
    float:left;
  }
  
  input[type="submit"]{
    float:left;
    width:30%;
    margin-left:10px;
    text-transform:uppercase;
    font-weight:900;
    color:#FFF;
    background:#f36;
    border-radius:4px;
    outline:none;
    border:none;
  }
  input[type="submit"]:hover{
    cursor:pointer;
  }
  
  .form{
    padding:50px 0px 0px 50px;
    float:left;
    width:55%;
  }
  
  /*YOUR IMAGE POSITIONING HERE!*/
  img{
    position:relative;
    top:0;
    left:30px;
    height:400px;
  }
}

.reflect{
      -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.1)));
}


.bwm-list-page {
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.type {
  &-apartment {
    color: #a72da3 !important;
  }

  &-condo {
    color: #d68000 !important;
  }

  &-house {
    color: #bf1818 !important;
  }
}

.btn.bwm-btn-main {
  border-color: $dark-red-color;
  color: $dark-red-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $dark-red-color;

    border-color: $dark-red-color;
    color: white;
    box-shadow: none;
  }

  &:disabled {
    cursor: auto;
    background-color: transparent;
    color: $dark-red-color;

  }
}

/*Sidebar widget title*/
.widget-title {
  width: 100%;
  display: block;
  padding: 10px 0;
}

.widget-title .title {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 2px solid #f1f1f1;
}

.widget-title .title::after {
  background-color: #574790;
}

.widget-title .title::after {
  content: "";
  position: absolute;
  left: 0;
  width: 31%;
  height: 2px;
  bottom: -2px;
  max-width: 112px;
}

.widget-list {
  padding: 0;
  margin: 0;
  position: relative;
}

.button-wrapper {
  margin-top: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}
