/* .row {
    width: 1000px;
} */


.section,
.widget,
.widget ul {
  margin: 0;
  padding: 0;
}

.widget {
  line-height: 1.4;
}

.widget ul {
  padding: 0 0 0 1.25em;
  margin: 0;
  line-height: 1.2;
}

.widget li,
.BlogArchive #ArchiveList ul.flat li {
  padding: .25em 0;
  margin: 0;
  text-indent: 0;
}

a:link,
a:hover,
a:visited {
  color: #27ae60;
  text-decoration: none;
}


a:link,
a:hover,
a:visited {
  color: #27ae60;
  text-decoration: none;
}




.widget iframe,
.widget img {
  max-width: 100%;
}

a img {
  border: 0;
}

a img {
  border: none;
  position: relative;
}

div.clear {
  clear: both;
}

.widget-item-control {
  float: right;
  height: 20px;
  margin-top: -20px;
  position: relative;
  z-index: 10;
}

span.item-control,
a.quickedit {
  display: none !important;
}

#main {
  min-height: 760px;
}

.margin-top-30 {
  margin-top: 30px;
}

section {
  position: relative;
}







a {
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  color: #333;
  outline: none !important;
}

p {
  margin: 0 0 10px;
}

@media only screen and (min-width: 1224px) {
  .header-menu {
    background-color: #2b82ad;
    margin-bottom: 50px;
  }
}

